{
  "singleQuote": false,
  "useTabs": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
