node_modules
.ffmarker
.DS_Store
.env.prod
__pycache__
*.pyc
venv
data
.mypy_cache
dist
dist-ssr
*.local
tmp
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.angular
connect.lock
coverage
libpeerconnection.log
testem.log
typings
Thumbs.db
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
index.css
