<div class="progress-wrapper">
  <div id="progress-bar-container">
    <ul>
      <li class="step step01 active">
        <div class="step-inner">Algorithm</div>
      </li>
      <li class="step step02">
        <div class="step-inner">Pricing model</div>
      </li>
      <li class="step step03">
        <div class="step-inner">Twin world</div>
      </li>
    </ul>
    <div id="line">
      <div id="line-progress"></div>
    </div>
    <!-- progress-bar-container -->
    <div id="progress-content-section">
      <div class="section-content step1 active">
        <h2>Select an algorithm</h2>
        <div class="container">
          <div class="items-frame">
            <div class="item" *ngFor="let item of algorithms" (click)="pinDescription(item.description)" (mouseover)="changeDescription(item.description)">
              {{ item.name }}
            </div>
          </div>
          <div class="description-frame">
            {{ currentDescription }}
          </div>
        </div>
      </div>
      <div class="section-content step2">
        <h2>Select a pricing model</h2>
        <div class="container">
          <div class="items-frame">
            <div class="item" *ngFor="let item of pricingmodels" (click)="pinDescription(item.description)" (mouseover)="changeDescription(item.description)">
              {{ item.name }}
            </div>
          </div>
          <div class="description-frame">
            {{ currentDescription }}
          </div>
        </div>
      </div>
      <div class="section-content step3">
        <h2>Select a twin world environment</h2>
        <div class="container">
          <div class="items-frame">
            <div class="item" *ngFor="let item of twinworlds" (click)="pinDescription(item.description)" (mouseover)="changeDescription(item.description)">
              {{ item.name }}
            </div>
          </div>
          <div class="description-frame">
            {{ currentDescription }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
